/* Css rules for mobile and universal rules */

html {
	overflow-x:hidden;
}
.popup {
	position:absolute;
	background-image:url('./images/background7.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
	height:100%;
	width:100%;	
	z-index:2;
}

.popup #pop-content {
	/*text-align:center;*/
	position:relative;
	top:20%;
	left:10%;	
}

.popup #pop-content h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 28px;
  width:225px;
}

.popup #pop-content #pop-nav a {
  text-decoration:none;
}

.popup #pop-content #pop-nav a h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 22px;
  color:black;
}

.popup #pop-content #pop-arrow {
	        z-index:100;
            position: relative;
            display: block;
            width: 0;
            height: 0;
            /*left:50%;*/
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 18px solid black;
}


/* ################ END POP UP MODAL  */



.header {	
	width:98%;
	top:0;
	margin:auto;
	background-color:#F0F0F0;
	box-shadow: -3px 2px 15px -2px rgba(18,5,18,1);
	height:90px;
	color:#002c45;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight:700;
	font-style:italic;
}

.header h1 {
	padding:15px;
}

.header #nav-bar {
	position:absolute;
	top: 80px;
	right:50px;
}

.header #nav-bar a {
  font-size:20px;
  text-decoration:none;
  color:#002c45;
  font-weight:400;
  font-style:italic;
}



/* ########  END HEADER    */



.container {
	width: 97%;
    margin:auto;
    font-family: 'Scada', sans-serif;
}

/* ################# ABOUT ME */
.about-container {
	display:flex;
	flex-direction:column;
	height:475px;
	margin:15px 6px;
	box-shadow: -3px 2px 15px -2px rgba(18,5,18,1);
	font-family: 'Alegreya Sans', sans-serif;
	font-weight:300;
}

.about-container div:nth-child(1) {
	flex:1;
	background-color:#F0F0F0;
	color:#002c45;
}

.about-container div:nth-child(2){
	flex:3;
	/*background-color:#E0E0E0;*/
    background-color:#002c45;
   /* opacity:25%;
*/    color:white;
	transition:.4s ease-in-out;
	font-size:17px;
}




.about-container #about-lead {
	
}
.about-container #about-lead h2{
	padding-bottom:5px;
	text-align:center;
	border-bottom:1.5px solid #002c45;


}

.about-container #about-lead img{
	position:relative;
	left:31%;
	/*margin-left:auto;
	margin-right:auto;
*/	height:1px;
	width:1px;
}

.about-container #about-content {
	padding:10px;
	overflow-y: scroll;
    overflow-x: hidden;
}

#seperator {
	margin-top:40px;
	margin-bottom:40px;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight:700;
	font-size:25px;
	/*font-style:italic;*/
}
#seperator h2 {
	/*margin-top:10px;
	margin-bottom:10px;*/
	text-align:center;
	color:#002c45;
}
/* ##### WORK */

.work-container {
	display:flex;
	flex-direction:column;
	height:auto;
	box-shadow: -3px 2px 15px -2px rgba(18,5,18,1);
	margin:15px 6px;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight:300;
}

.work-container div:nth-child(1) {
	flex:1;
	background-color:#F0F0F0;
	color:#002c45;
	transition:.4s ease-in-out;
}

.work-container div:nth-child(2){
	flex:3;
	/*background-color:#E0E0E0;*/
	background-color:#002c45;
    color:white;
	transition:.4s ease-in-out;
	font-size:17px;
}

.work-container .work-header h2 {
	text-align:center;
}

.work-container .work-header #work-bar p {
	text-align:center;
	/*position:relative;
	margin-left:33%;*/
	

}

.work-container .work-header #work-bar a {
	font-size:20px;
	text-decoration:none;
	color:#002c45;
	font-weight:400;
	font-style:italic;
}

.work-container .work-content {
	padding:10px;
	overflow-y: scroll;
    overflow-x: hidden;
}



/* ############ END MAIN SECTION */

.footer {
	
	width:98%;
	margin:auto;
	margin-bottom:22px;
	bottom:20px;
	background-color:#F0F0F0;
    box-shadow: -3px 2px 15px -2px rgba(18,5,18,1);
	height:125px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight:400;
    font-style:italic;
	color:#002c45;
}

.footer h2 {
	left:5%;
	padding:15px;
}	

.footer #footer-content {
	position:relative;
	left: 10%;
}

.footer #footer-content a {
  font-size:18px;
  text-decoration:none;
  color:#002c45;
  font-style:bold;
}

/*}*/
/**/
/*##########################################################################################################*/ 
/*##########################################################################################################*/
/**/

@media only screen and (min-width: 960px) {
 
	.popup #pop-content h1 {
	  font-family: 'Rajdhani', sans-serif;
	  font-size: 34px;
	  width:75%;
	}

	.popup #pop-content #pop-nav a h2 {
	  font-size: 26px;		
	}

	.popup #pop-content #pop-arrow {
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 20px solid black;
	}
    .header #nav-bar {
		position:absolute;
		top: 28px;
		right:50px;
    }

	.header #nav-bar a {
	  font-size:20px;
	}

	.header #nav-bar a:hover {
	  font-size:24px;
	}

	.about-container {
		flex-direction:row;
		height:400px;
	}

	.about-container div:nth-child(2){
		flex:2;
		font-size:19px;
		line-height:175%;
	}

	/*.about-container div:nth-child(2):hover {
	    flex:4;
    }*/


	.about-container #about-lead img{
		padding:1.5px;
        border:1px solid #002c45;
        background-color:#002c45;
        border-radius:20%;
		height:58%;
		width:38%;
		transition:.4s ease-in-out;
	}


    .about-container #about-content {
		padding:8px;
		overflow:auto;
	}
	/* ##### WORK */

    #seperator {
    	font-size:30px;
    }
	.work-container {
		flex-direction:row;
		height:auto;				
	}

	.work-container div:nth-child(2) {
	   font-size:19px;	
	   flex:2;
	   line-height:175%;
    }

    .work-container div:nth-child(2):hover {
	   flex:4;
	   /*font-size:20px;*/
    }
   
    .work-container .work-header #work-bar {
       position:relative;
       margin-left:20%;	  
    }
    .work-container .work-header #work-bar a:hover {
	font-size:24px;
    }
    .work-container .work-content {
    	overflow:auto;
    }
	.footer #footer-content a {
	  font-size:20px;
	}
	.footer #footer-content a:hover {

	  font-size:24px;
	}

}


